* {
    box-sizing: border-box;
}
#earth{
    border: 1px solid;
    height: 98vh;
    background: linear-gradient(blue, lightblue);
}
#land{
    background: linear-gradient(darkgreen, green);;
    border: 1px solid;
    height: 185px;
    width: 98.8%;
    position: absolute;
    bottom: 7px;
}
#circleLine{
    border: 1px solid magenta;
    border-radius: 50%;
    width: 95%;
    height: 200%;
    position: absolute;
    top: 9%;
    left: 2.5%;
}
#sun{
    width: 125px;
    height: 125px;
    border: 1px solid;
    border-radius: 50%;
    background: #ffe531;
    animation-name: sun;
    animation-duration: 15s;
    animation-timing-function: linear;
    background: radial-gradient(
        circle closest-side,
        #f06d06,
        yellow
      );
    position: absolute;
    bottom: 5%;
    /* left: 5%; */
}
@keyframes sun {
    0% {bottom: 17%; left: 2%;}
    10% {bottom: 48%; left: 10.6%;}
    20% {bottom: 65%; left: 19.2%;}
    30% {bottom: 74%; left: 27.8%;}
    40% {bottom: 79%; left: 36.4%;}
    50% {bottom: 80%; left: 45%;}
    60% {bottom: 79%; left: 53.6%;}
    70% {bottom: 74%; left: 62.2%;}
    80% {bottom: 65%; left: 71%;}
    90% {bottom: 48%;  left: 80%;}
    100% {bottom: 17%; left: 89%;}
}

#moon{
    width: 125px;
    height: 125px;
    border: 1px solid;
    border-radius: 50%;
    background: #d0d5d2;
}
#cityContainer{
    position: absolute;
    border: 1px solid purple;
    width: 400px;
    height: 200px;
    bottom: 192px;
    left: 0;
    right: 0;
    margin: auto;
}
.building{
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    background: gray;
    position: absolute;
}
.one{
    width: 50px;
    height: 100px;
    bottom: 0;
    left: 116px;
}
.two{
    width: 100px;
    height: 40px;
    bottom: 0;
    left: 88px;
}
.three{
    width: 40px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.four{
    width: 50px;
    height: 75px;
    bottom: 0;
    right: 137px;
}
.five{
    width: 75px;
    height: 60px;
    bottom: 0;
    right: 178px;
}
#westTown{
    position: absolute;
    right: 191px;
    bottom: 191px;
    border: #f06d06 solid 1px;
    width: 200px;
    height: 200px;
}
.house{
    position: relative;
}
.roof{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid red;
}
.restOfHouse{

}