* {
    box-sizing: border-box;
}
#earth{
    border: 1px solid;
    /* width: 100%; */
    height: 98vh;
    /* background: linear-gradient(blue, lightblue); */
    /* background: rgb(246,79,89); */
    background: linear-gradient(0deg, rgba(246,79,89,1) 0%, rgba(247,183,51,1) 17%, rgba(66,134,244,1) 71%);
    background-size: 400% 400%;
	-webkit-animation: gradientBG 15s ease infinite;
	        animation: gradientBG 15s ease infinite;
}
/* @-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 80%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
@keyframes gradientBG {
	0% {
		background-position: center bottom;
	}
	50% {
		background-position: center top;
	}
	100% {
		background-position: center bottom;
	}
}
#land{
    background: linear-gradient(darkgreen, green);;
    border: 1px solid;
    height: 185px;
    width: 98.8%;
    position: absolute;
    bottom: 7px;
}
#circleLine{
    border: 1px solid magenta;
    border-radius: 50%;
    width: 95%;
    height: 200%;
    position: absolute;
    top: 9%;
    left: 2.5%;
}
#sun{
    width: 125px;
    height: 125px;
    border: 1px solid;
    border-radius: 50%;
    background: #ffe531;
    animation-name: sun;
    animation: sun 15s linear infinite;
    /* animation-duration: 15s;
    animation-timing-function: linear; */
    background: radial-gradient(
        circle closest-side,
        #f06d06,
        yellow
      );
    position: absolute;
    bottom: 5%;
    /* left: 5%; */
}
@keyframes sun {
    0% {bottom: 17%; left: 2%;}
    10% {bottom: 48%; left: 10.6%;}
    20% {bottom: 65%; left: 19.2%;}
    30% {bottom: 74%; left: 27.8%;}
    40% {bottom: 79%; left: 36.4%;}
    50% {bottom: 80%; left: 45%;}
    60% {bottom: 79%; left: 53.6%;}
    70% {bottom: 74%; left: 62.2%;}
    80% {bottom: 65%; left: 71%;}
    90% {bottom: 48%;  left: 80%;}
    100% {bottom: 17%; left: 89%;}
}
#dragon{
    width: 100px;
    position: absolute;
    animation-name: dragon;
    animation-duration: 15s;
    animation-timing-function: linear;
}
@keyframes dragon {
    0% {left: 0;}
    10% {left: 10%;}
    20% {left: 20%;}
    30% {left: 30%;}
    40% {left: 40%;}
    50% {left: 50%;}
    60% {left: 60%;}
    70% {left: 70%;}
    80% {left: 80%;}
    90% {left: 90%;}
    100% {left: 100%;}
}
#groupBirds{
    width: 100px;
    position: absolute;
    bottom: 48%;
    animation-name: birds;
    animation-duration: 15s;
    animation-timing-function: linear;
}
@keyframes birds {
    0% {right: 0;}
    10% {right: 10%;}
    20% {right: 20%;}
    30% {right: 30%;}
    40% {right: 40%;}
    50% {right: 50%;}
    60% {right: 60%;}
    70% {right: 70%;}
    80% {right: 80%;}
    90% {right: 90%;}
    100% {right: 100%;}
}
.cloud{
    width: 170px;
}
#moon{
    width: 125px;
    height: 125px;
    border: 1px solid;
    border-radius: 50%;
    background: #d0d5d2;
}
#cityContainer{
    position: absolute;
    border: 1px solid purple;
    width: 400px;
    height: 200px;
    bottom: 192px;
    left: 0;
    right: 0;
    margin: auto;
}
.building{
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    background: gray;
    position: absolute;
}
.one{
    width: 50px;
    height: 100px;
    bottom: 0;
    left: 116px;
}
.two{
    width: 100px;
    height: 40px;
    bottom: 0;
    left: 88px;
}
.three{
    width: 40px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.four{
    width: 50px;
    height: 75px;
    bottom: 0;
    right: 137px;
}
.five{
    width: 75px;
    height: 60px;
    bottom: 0;
    right: 178px;
}
#westTown{
    position: absolute;
    right: 191px;
    bottom: 191px;
    border: #f06d06 solid 1px;
    width: 200px;
    height: 200px;
}
.house{
    /* position: relative; */
}
.roof{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid saddlebrown;
    position: absolute;
    bottom: 20px;
}
.roof:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 11px solid lightblue;
    position: absolute;
    top: 4px;
    left: -12px;
  }
.restOfHouse{
    width: 25px;
    height: 20px;
    background: lightblue;
    border-left: 2px solid saddlebrown;
    border-right: 2px solid saddlebrown;
    border-top: 2px solid saddlebrown;
    position: absolute;
    bottom: 0;
    left: 2.4px;
}
.main1{
    position: absolute;
    bottom: 0;
    left: 49px;
}
.main2{
    position: absolute;
    bottom: 0;
    left: 36px;
}
.main3{
    position: absolute;
    bottom: 0;
    left: 78px;
}
.main4{
    position: absolute;
    bottom: 0;
    right: 85px;
}
.main5{
    position: absolute;
    bottom: 0;
    right: 69px;
}
#eastTown{
    position: absolute;
    left: 103px;
    bottom: 192px;
    border: tan solid 1px;
    width: 400px;
    height: 77px;
    display: inline-flex;
}
.barn{
    width: 170px;
}
.mainBarn{
    background: darkred;
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    margin-top: 57px;
    position: relative;
    width: 45px;
    margin-bottom: -2px;
}
.mainBarn:before{
    border-bottom: 18px solid darkred;
    border-left: 22.5px solid transparent;
    border-right: 22.5px solid transparent;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: -18px;
    width: 0;
}
.crops{
    background: url(311728.svg);
    background-size: 7px 23px;
    height: 30px;
    width: 100px;
    /* border: 1px solid; */
    margin-bottom: -11px;
    display: inline-block;
}